Repository googleapis/java-contact-center-insights, pull requests merged in 2021-09, with the labels that each got.

#64 chore: adds CCAI team to samples CODEOWNERS
  .github/CODEOWNERS
  .repo-metadata.json
Labels: cla: yes, samples, api: contactcenterinsights

#71 chore: remove readme autosynth config
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: automerge, kokoro:force-run, cla: yes, api: contactcenterinsights

#80 samples: create conversation
  README.md
  samples/snippets/src/main/java/com/example/contactcenterinsights/CreateConversation.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/CreateConversationIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#81 samples: create converation with TTL
  README.md
  samples/snippets/src/main/java/com/example/contactcenterinsights/CreateConversationWithTtl.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/CreateConversationWithTtlIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#89 samples: create analysis
  README.md
  samples/snippets/src/main/java/com/example/contactcenterinsights/CreateAnalysis.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/CreateAnalysisIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#83 samples: get operation
  README.md
  samples/snippets/src/main/java/com/example/contactcenterinsights/GetOperation.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/GetOperationIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#84 samples: create topic model
  README.md
  samples/snippets/src/main/java/com/example/contactcenterinsights/CreateIssueModel.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/CreateIssueModelIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#87 samples: enable pubsub notifications
  README.md
  samples/install-without-bom/pom.xml
  samples/snapshot/pom.xml
  samples/snippets/pom.xml
  samples/snippets/src/main/java/com/example/contactcenterinsights/EnablePubSubNotifications.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/EnablePubSubNotificationsIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#86 samples: set project-level TTL
  README.md
  samples/snippets/src/main/java/com/example/contactcenterinsights/SetProjectTtl.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/SetProjectTtlIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#82 samples: create custom highlights
  README.md
  samples/snippets/src/main/java/com/example/contactcenterinsights/CreatePhraseMatcherAllOf.java
  samples/snippets/src/main/java/com/example/contactcenterinsights/CreatePhraseMatcherAnyOf.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/CreatePhraseMatcherAllOfIT.java
  samples/snippets/src/test/java/com/example/contactcenterinsights/CreatePhraseMatcherAnyOfIT.java
Labels: cla: yes, samples, api: contactcenterinsights

#94 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: cla: yes, api: contactcenterinsights

#101 chore: change branch master to main in sync-repo-settings.yaml
  .github/sync-repo-settings.yaml
Labels: do not merge, cla: yes, api: contactcenterinsights
